body{
  background-color: rgba(91,169,222,0.5);
}

.text-center{
  font-size: 45px;
}

td a{
  color: black;
  text-decoration: none;
}

table a:not(.btn), .table a:not(.btn){
  color: black;
}

.text-center{
  color: black;
  font-weight: bold;
}
